.desk-page {
  overflow: hidden;
  #not-found-columns {
    text-align: center;
    margin: 2rem 0;
    color: #a4a9af;
    //display: none; ///////////////////////////////////////////////////////////////////////
  }
  .section {
    overflow: hidden;
    height: calc( 100vh - 175px );
    .columns {
      display: block;
      height: calc( 100vh - 175px);
      overflow: hidden;
      overflow-x: scroll;
      white-space: nowrap;
      margin: 0 auto;
      .column {
        display: none; // Show version: inline-block
        vertical-align: top;
        position: relative;
        width: 400px;
        height: 100%;
        border-right: 1px solid #b2b7bc;
        flex: none;
        overflow: hidden;
        overflow-y: scroll;
        &:hover {
          .name-column {
            width: calc( 100% + 22px );
          }
        }
        &::-webkit-scrollbar{
          width: 5px;
        }
        .name-column {
          margin: 8px 0;
          text-align: left;
          padding: 0 0 5px 15px;
          width: calc( 75% + 22px );
          position: relative;
          left: -8px;
          text-overflow: ellipsis;
          white-space: nowrap;
          transition: .3s;
          border-bottom: 1px solid #b2b7bc;
        }
        .btn-add-task {
          margin-top: 8px;
          width: 100%;
        }
        // Task
        .task {
          display: none;
          width: 100%;
          height: 78px;
          margin-top: 8px;
          border-radius: 5px;
          position: relative;
          border: 1px solid #b2b7bc;
          transition: .3s;
          &:hover {
            //transform: scale(1.01);
            //background-color: #b2b7bc;
            text-decoration: none;
            cursor: pointer;
          }
          .task-name {
            margin: 8px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .task-deadline {
            padding: 5px 10px;
            position: absolute;
            top: 8px;
            right: 8px;
          }
          .task-priority {
            margin: 8px;
            .label {
              margin-left: 5px;
            }
          }
        }
      }
      p {
        white-space: pre;
      }
    }
  }
}

#form-create-task {
  input[type='file'] {
    border: .05rem solid #bcc3ce;
  }
}

// Modal Task
#modal-task {
  .modal-header-task {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .priority-task,
  .column-task,
  .deadline-task,
  .description-task {
    margin: 0;
  }
  .description-task {
    margin-top: 1rem;
  }
  .executor {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    .chip {
      margin-left: .5rem;
    }
  }
  .modal-container {
    overflow: auto;
    padding: .8rem;
    border: .5rem solid white;
    &::-webkit-scrollbar{
      width: 5px;
    }
    .modal-body {
      min-height: fit-content;
    }
  }
  // All comments
  .modal-footer {
    padding: 0;
    // Form comment
    #form-create-comment {
      .modal-body {
        padding: 0 .8rem;
      }
      .form-label {
        text-align: left;
      }
      .form-input {
        min-width: 100%;
        min-height: 1.8rem;
        max-height: 5.5rem;
      }
      .modal-footer-submit-comment {
        margin: .8rem;
      }
    }
    // Comments
    #comments {
      text-align: left;
      margin: 1rem 0;
      .loading {
        display: block;
      }
      blockquote {
        display: none;
        overflow: hidden;
        position: relative;
        margin-bottom: 1.5rem;
        p {
          margin: .5rem 0;
        }
        .btn-link {
          float: right;
        }
        .reply-fields {
          position: absolute;
          right: 100%;
          transition: .3s;
          transition-timing-function: ease;
          &.active {
            right: 30%;
          }
          label {
            display: none;
          }
          form {
            display: flex;
          }
        }
      }
    }
  }
}