.home-page {
  overflow: hidden;
  .section {
    overflow: auto;
    .table {
      margin: 15px auto 0;
      height: 115px;
      justify-content: center;
      align-items: center;
      border: 1px solid #dfe5eb;
      transition: .3s;
      overflow: hidden;
      display: none;
      color: rgb(59, 67, 81)
    ;
      &:hover {
        transform: scale(1.01);
        border: 1px solid #ced4db;
        background-color: #dfe5eb;
        text-decoration: none;
      }
      .info {
        p {
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 40px;
          line-height: 40px;
        }
      }
      .icon-table {
        img {
          float: right;
          height: 75px;
        }
      }
    }
    #not-found-desks {
      text-align: center;
      margin: 2rem 0;
      color: #a4a9af;
    }
  }
}
// Modal: for display error
#form-create-desk,
#form-create-column,
#form-create-task {
  .form-group {
    .form-input-hint {
      display: none;
      margin-bottom: 0;
    }
    &.has-error {
      .form-input-hint {
        display: block;
      }
    }
  }
}


