body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

hr {
  margin: 0;
  height: 1px;
  background-color: #dfe5eb;
  border: none;
}

// Notification style

#notification {
  position: fixed;
  z-index: 1000;
  width: auto;
  right: -300px;
  top: 120px;
  transition: .5s;
  &.active {
    right: 15px;
    top: 120px;
  }
}

// Scroll style

.inner-scrollbar{
  overflow: auto;
  &::-webkit-scrollbar{
    height: 5px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 6px;
  }
}

